doctype html
html
head
  meta(charset='utf-8')
  meta(name='viewport' content='width=device-width, initial-scale=1')
  title White Horse Masonry
body
header
  .header--bg.lazy-background-image(data-src=require('./images/header.jpg').src)
  .width-limiter
    .image-strips
      .image-strips--wide
        img.lazy(
          src=require("./images/wide-1.jpg").placeholder
          data-srcset=require("./images/wide-1.jpg").srcSet
        )
        img.lazy(
          src=require("./images/wide-2.jpg").placeholder
          data-srcset=require("./images/wide-2.jpg").srcSet
        )
        img.lazy(
          src=require("./images/wide-3.jpg").placeholder
          data-srcset=require("./images/wide-3.jpg").srcSet
        )
      .image-strips--skinny
        img.lazy(
          src=require("./images/skinny-1.jpg").placeholder
          data-srcset=require("./images/skinny-1.jpg").srcSet
        )
        img.lazy(
          src=require("./images/skinny-2.jpeg").placeholder
          data-srcset=require("./images/skinny-2.jpeg").srcSet
        )
        img.lazy(
          src=require("./images/skinny-3.jpg").placeholder
          data-srcset=require("./images/skinny-3.jpg").srcSet
        )
    .titles
      .titles--first
        h1 MASTERWORK
        h1 MASONRY
      .titles--second
        h1.titles--desktop WHITE HORSE
        h1.titles--mobile WHITE
        h1.titles--mobile HORSE
        h1 MASONRY
article.content
  .width-limiter.p-0
    .tiles
      .tile.width-4.center
        p #[strong Over 30 years...]#[br]of experience building, planning, and consulting to
          |  ensure a job well done.
      .tile.width-4.center
        p #[strong Expressive...]#[br]and aesthetic landscapes to complete your home, business, or public place.
      .tile.width-4.center
        p #[strong Reliability...]#[br]to recreate your vision with the knowledge
          |  necessary to integrate any material or design.
    .tiles
      .tile.width-4
        .image-container
          img.lazy(
            src=require(`./images/016_orig.jpg`).placeholder
            data-srcset=require(`./images/016_orig.jpg`).srcSet
          )
      .tile.width-4
        .image-container
          img.lazy(
            src=require(`./images/img-1047_orig.jpg`).placeholder
            data-srcset=require(`./images/img-1047_orig.jpg`).srcSet
          )
      .tile.width-4
        .image-container
          img.lazy(
            src=require(`./images/1615956_orig.jpg`).placeholder
            data-srcset=require(`./images/1615956_orig.jpg`).srcSet
          )
  .width-limiter.p-0
    .free-estimate
      .tiles
        .tile.width-5.column
          h2 Free Estimate
          p.free-estimate--limit *Limited to York County, Ontario
          .email-form
            label(for=`email`) Your Email Address:
            input(id=`email` type=`email` required placeholder=`john@gmail.com`)
            label(for=`message`) Your Message:
            textarea(id=`message` required placeholder=`Write your message here.`)
            button(type=`submit`) Send
        .tile.width-2
          .or #[strong or]
        .tile.width-5.center
          address
            a(href=`mailto:donlandry48@gmail.com`) donlandry48@gmail.com
            a.telephone(href=`tel:+416-659-4843`) +416-659-4843
        // p #[strong Over 30 years] of professional experience building with a
        //   |  variety of materials,
        //   |  and planning expressive landscapes for homes, businesses,
        //   |  and public places.
