doctype html
html
head
  meta(charset='utf-8')
  meta(name='viewport' content='width=device-width, initial-scale=1')
  title White Horse Masonry Services
  meta(name=`description` content=`Master stonemasons in Toronto, Canada, with specialization in turn-key construction and expertise in a variety of materials and aesthetics.`)
body
header
  .title-bar
    .width-limiter.title-bar-container
      // Put this in a cool type-writer font?
      h1.title-bar--title White Horse Masonry
      a.free-estimates-link(href=`tel:+416-659-4843`)
        span.free-estimates-link--text Free Estimates!
        span.free-estimates-link--phone +416-659-4843
  .header--bg.lazy-background-image(data-src=require('./images/header.jpg').src)
  .width-limiter
    .image-strips
      .image-strips--wide
        img.lazy(
          src=require("./images/wide-1.jpg").placeholder
          data-srcset=require("./images/wide-1.jpg").srcSet
        )
        img.lazy(
          src=require("./images/wide-2.jpg").placeholder
          data-srcset=require("./images/wide-2.jpg").srcSet
        )
        img.lazy(
          src=require("./images/wide-3.jpg").placeholder
          data-srcset=require("./images/wide-3.jpg").srcSet
        )
      .image-strips--skinny
        img.lazy(
          src=require("./images/skinny-1.jpg").placeholder
          data-srcset=require("./images/skinny-1.jpg").srcSet
        )
        img.lazy(
          src=require("./images/skinny-2.jpeg").placeholder
          data-srcset=require("./images/skinny-2.jpeg").srcSet
        )
        img.lazy(
          src=require("./images/skinny-3.jpg").placeholder
          data-srcset=require("./images/skinny-3.jpg").srcSet
        )
    .titles
      .titles--first
        h1
          span.titles--part MASTERWORK
          span.titles--part MASONRY
      .titles--second
        h1
          span.titles--desktop.titles--part WHITE HORSE
          span.titles--part
            span.titles--mobile WHITE
            span.titles--mobile HORSE
          span.titles--part MASONRY
article.content
  section
    .width-limiter
      .tiles
        .tile.width-4.center
          p #[strong Over 30 years...]#[br]of experience building, planning, and consulting to
            |  ensure a job well done.
        .tile.width-4.center
          p #[strong Expressive...]#[br]and aesthetic landscapes to complete your home, business, or public place.
        .tile.width-4.center
          p #[strong Reliability...]#[br]to recreate your vision with the knowledge
            |  necessary to integrate any material or design.
    .width-limiter.p-0
      .tiles.row
        .tile.width-4
          .image-container
            img.lazy(
              src=require(`./images/016_orig.jpg`).placeholder
              data-srcset=require(`./images/016_orig.jpg`).srcSet
            )
        .tile.width-4
          .image-container
            img.lazy(
              src=require(`./images/img-1047_orig.jpg`).placeholder
              data-srcset=require(`./images/img-1047_orig.jpg`).srcSet
            )
        .tile.width-4
          .image-container
            img.lazy(
              src=require(`./images/1615956_orig.jpg`).placeholder
              data-srcset=require(`./images/1615956_orig.jpg`).srcSet
            )
  section.row
    .width-limiter
      h2 Our History
      p
        | White Horse Masonry Services, previously known as Don Landry Masonry, has provided quality services to home owners and businesses for over 30 years. With our roots in New Hampshire, we eventually serviced all of New England.
      p In 2016, we began to offer our services to the Greater Toronto Area. Our commitment is to guarantee quality, craftsmanship and customer satisfaction. We are an honest company with good people and master masons.
  section.row
    .width-limiter.p-0
      .free-estimate
        .tiles
          .tile.width-5.column
            h2 Free Estimate
            p.free-estimate--limit *Limited to York County, Ontario
            form.email-form(action=`https://formspree.io/donlandry48@gmail.com` method=`POST`)
              label(for=`email`) Your Email Address:
              input(id=`email` type=`email` name=`_replyto` required placeholder=`Type your email address here.`)
              label(for=`message`) Your Message:
              textarea(id=`message` name=`message` required placeholder=`Write your message here.`)
              input(type=`hidden` name=`_subject` value=`New Free Estimate Request`)
              input.hidden(name=`_gotcha`)
              button(type=`submit`) Send
          .tile.width-2
            .or #[strong or]
          .tile.width-5.center
            address.address
              .address--vertical-flex
                a.address--email(href=`mailto:donlandry48@gmail.com`) donlandry48@#[wbr]gmail.com
                a.address--telephone(href=`tel:+416-659-4843`) +416-659-4843
              .address--logo
                img(src=require('./images/white-horse.jpg').src)
